@charset "UTF-8";
@import url("reset.css");
@import url("common.css");
@import url("common.scss");
@font-face {
  font-family: "Stint Ultra Expanded";
  src: url("font/StintUltraExpanded-Regular.eot");
  src: url("font/StintUltraExpanded-Regular.eot?#iefix") format("embedded-opentype"), url("font/StintUltraExpanded-Regular.woff2") format("woff2"), url("font/StintUltraExpanded-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans 3";
  src: url("font/SourceSans3-Bold.eot");
  src: url("font/SourceSans3-Bold.eot?#iefix") format("embedded-opentype"), url("font/SourceSans3-Bold.woff2") format("woff2"), url("font/SourceSans3-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans 3";
  src: url("font/SourceSans3-Regular.eot");
  src: url("font/SourceSans3-Regular.eot?#iefix") format("embedded-opentype"), url("font/SourceSans3-Regular.woff2") format("woff2"), url("font/SourceSans3-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans 3";
  src: url("font/SourceSans3-Black.eot");
  src: url("font/SourceSans3-Black.eot?#iefix") format("embedded-opentype"), url("font/SourceSans3-Black.woff2") format("woff2"), url("font/SourceSans3-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans 3";
  src: url("font/SourceSans3-Medium.eot");
  src: url("font/SourceSans3-Medium.eot?#iefix") format("embedded-opentype"), url("font/SourceSans3-Medium.woff2") format("woff2"), url("font/SourceSans3-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "pretendard";
  src: url("font/Pretendard-Regular.eot");
  src: url("font/Pretendard-Regular.eot?#iefix") format("embedded-opentype"), url("font/Pretendard-Regular.woff2") format("woff2"), url("font/Pretendard-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --font-kr: "pretendard";
  --font-en-title: "Stint Ultra Expanded";
  --font-en-body: "Source Sans 3";
  --title-size: 20rem;
  --color-beige: #f6edd9;
  --color-yellow: #ffde82;
  --color-white: #fff;
  --color-darkGreen: #3c4a3e;
  --color-lightGreen: #d6fadc;
}

h2 {
  color: var(--color-white);
  font-style: var(--font-en-title);
}

h3 {
  font-family: var(--font-en-title);
}

section {
  padding: 13.5rem 0;
}

body {
  background: url("../img/bg.png") center/cover no-repeat fixed;
}

/* .header {
    position: relative;

} */ /* .header end */
.inner {
  width: calc(100% - 40px);
  margin: 0 auto;
  max-width: 1440px;
}

/* header */
.header {
  position: relative;
}
.header .menu__pc {
  position: fixed;
  z-index: 9999;
  top: 100px;
  right: 50px;
}
.header .menu__pc .gnb li {
  text-align: end;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  color: var(--color-white);
}
.header .menu__pc .gnb li a {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px;
}
.header .menu__pc .gnb li a::after {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url("../img/nav-btn.png") center/100% no-repeat;
  margin-left: 10px;
}

/* .header end */
/* mainVisual */
.main__visual {
  height: 100vh;
  position: relative;
  display: flex;
  font-family: "Stint Ultra Expanded";
}
.main__visual .util {
  position: fixed;
  left: -100px;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 160px;
  z-index: 888;
  /* 토글 버튼 */
  /* 체크박스가 체크되면 변경 이벤트 */
}
.main__visual .util .toggleSwitch {
  width: 100px;
  height: 50px;
  display: block;
  position: relative;
  border-radius: 30px;
  background-color: #007380;
  box-shadow: 0 0 16px 3px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transform: rotate(-90deg);
  left: 100px;
  top: 50px;
  border: var(--color-darkGreen) 2px solid;
  margin-bottom: 20px;
}
.main__visual .util .toggleSwitch .toggleButton {
  /* 버튼은 토글보다 작아야함  */
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: transparent;
  background: url(../img/flag-korean.png) center/100% no-repeat;
}
.main__visual .util #toggle:checked ~ .toggleSwitch {
  background: #3E59B0;
}
.main__visual .util #toggle:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 44px);
  background: url(../img/flag-british.png) center/100% no-repeat;
}
.main__visual .util .toggleSwitch,
.main__visual .util .toggleButton {
  transition: all 0.2s ease-in;
}
.main__visual .util button {
  transform: rotate(-90deg);
  background-color: var(--color-lightGreen);
  border: 3px solid var(--color-darkGreen);
  padding: 56px 75px 20px;
  font-family: "pretendard";
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main__visual .util .resume--btn {
  display: flex;
}
.main__visual .util .resume--btn img {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  transform: rotate(90deg);
}
.main__visual .inner {
  height: 100%;
}
.main__visual .inner figure {
  position: absolute;
  right: 20%;
  transform: translateY(15%);
  top: 12%;
  width: 300px;
  height: 350px;
}
.main__visual .inner figure img {
  width: 100%;
  height: 100%;
}
.main__visual .inner div {
  margin-top: 80px;
}
.main__visual .inner div h2 {
  font-size: 15rem;
}
.main__visual .inner div h2 p {
  line-height: 1.3;
  color: var(--color-white);
  display: inline-block;
  animation-name: cursor;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  display: inline-block;
  color: var(--color-yellow);
  font-size: 15rem;
}
.main__visual .inner .typing-txt {
  display: none;
}
.main__visual .inner p {
  font-size: 4.5rem;
  color: var(--color-white);
  line-height: 1.3;
  margin-top: 4rem;
}

/* main__visual end */
@keyframes cursor {
  0% {
    border-right: 1px solid #fff;
  }
  50% {
    border-right: 1px solid #000;
  }
  100% {
    border-right: 1px solid #fff;
  }
} /* mainvisual typing */
/* skills */
.skills {
  color: var(--color-white);
}
.skills h3 {
  font-size: 20rem;
  margin: 0 0 135px 109px;
}
.skills .skills__des p {
  word-break: keep-all;
  text-align: end;
  font-size: 50px;
  display: none;
  margin-bottom: 20rem;
  line-height: 1.3;
  font-family: var(--font-kr);
  width: 80%;
  margin-left: auto;
}
.skills .skills__des p:nth-child(1) {
  display: block;
}
.skills .skills__des--icon {
  display: flex;
  justify-content: end;
  -moz-column-gap: 30px;
       column-gap: 30px;
  position: relative;
  padding-top: 60px;
}
.skills .skills__des--icon li img {
  width: 80px;
  height: 80px;
}
.skills .skills__des--icon::before {
  content: "아이콘을 클릭해 보세요!";
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  font-family: var(--font-kr);
}/*# sourceMappingURL=style.css.map */