@charset "UTF-8";
@import url("reset.css");
@import url("common.css");
@import url("common.scss");
@font-face {
  font-family: "Stint Ultra Expanded";
  src: url("font/StintUltraExpanded-Regular.eot");
  src: url("font/StintUltraExpanded-Regular.eot?#iefix") format("embedded-opentype"), url("font/StintUltraExpanded-Regular.woff2") format("woff2"), url("font/StintUltraExpanded-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans 3";
  src: url("font/SourceSans3-Bold.eot");
  src: url("font/SourceSans3-Bold.eot?#iefix") format("embedded-opentype"), url("font/SourceSans3-Bold.woff2") format("woff2"), url("font/SourceSans3-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans 3";
  src: url("font/SourceSans3-Regular.eot");
  src: url("font/SourceSans3-Regular.eot?#iefix") format("embedded-opentype"), url("font/SourceSans3-Regular.woff2") format("woff2"), url("font/SourceSans3-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans 3";
  src: url("font/SourceSans3-Black.eot");
  src: url("font/SourceSans3-Black.eot?#iefix") format("embedded-opentype"), url("font/SourceSans3-Black.woff2") format("woff2"), url("font/SourceSans3-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans 3";
  src: url("font/SourceSans3-Medium.eot");
  src: url("font/SourceSans3-Medium.eot?#iefix") format("embedded-opentype"), url("font/SourceSans3-Medium.woff2") format("woff2"), url("font/SourceSans3-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "pretendard";
  src: url("font/Pretendard-Regular.eot");
  src: url("font/Pretendard-Regular.eot?#iefix") format("embedded-opentype"), url("font/Pretendard-Regular.woff2") format("woff2"), url("font/Pretendard-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --font-kr: "pretendard";
  --font-en-title: "Stint Ultra Expanded";
  --font-en-body: "Source Sans 3";
  --title-size: 20rem;
  --color-beige: #f6edd9;
  --color-yellow: #ffde82;
  --color-white: #fff;
  --color-darkGreen: #3c4a3e;
  --color-lightGreen: #d6fadc;
}

h2 {
  color: var(--color-white);
  font-style: var(--font-en-title);
  font-size: 11rem;
}

h3 {
  font-family: var(--font-en-title);
  font-size: 8rem;
  text-align: center;
}

section {
  width: 100%;
}

body {
  background: url("../img/bg.png") center/cover no-repeat fixed;
  word-break: keep-all;
}

/* fullpage */
/* nav */
#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background-color: var(--color-lightGreen);
}

.inner {
  width: calc(100% - 40px);
  margin: 0 auto;
  max-width: 1440px;
}

/* header */
.header {
  position: relative;
}
.header .menu__pc {
  position: fixed;
  z-index: 9999;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}
.header .menu__pc .gnb li {
  text-align: end;
  font-size: 18px;
  height: 25px;
  line-height: 50px;
  color: var(--color-lightGreen);
}
.header .menu__pc .gnb li a {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px;
}
.header .menu__pc .gnb li a::after {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  background: url("../img/nav-btn.png") center/100% no-repeat;
  margin-left: 10px;
}

/* .header end */
/* 토글 버튼 */
.language--btn {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  /* 체크박스가 체크되면 변경 이벤트 */
}
.language--btn .toggleSwitch {
  width: 100px;
  height: 50px;
  display: block;
  top: 0;
  left: 0;
  position: relative;
  border-radius: 30px;
  background-color: var(--color-yellow);
  box-shadow: 0 0 16px 3px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: var(--color-darkGreen) 2px solid;
}
.language--btn .toggleSwitch .toggleButton {
  /* 버튼은 토글보다 작아야함  */
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: transparent;
  background: url(../img/flag-korean.png) center/100% no-repeat;
}
.language--btn #toggle:checked ~ .toggleSwitch {
  background: #3e59b0;
}
.language--btn #toggle:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 44px);
  background: url(../img/flag-british.png) center/100% no-repeat;
}
.language--btn .toggleSwitch,
.language--btn .toggleButton {
  transition: all 0.2s ease-in;
}

.util {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 888;
  animation: moveTo 1s linear;
}
.util .resume--btn,
.util .work--btn {
  height: 190px;
}
.util .resume--btn #container,
.util .work--btn #container {
  margin: 0%;
  /*  display: flex;
  justify-content: center;
  align-items: center; */
  height: 300px;
  width: 300px;
  position: relative;
}
.util .resume--btn #container img,
.util .work--btn #container img {
  width: 25%;
  height: 32%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.util .resume--btn #sam-quote,
.util .work--btn #sam-quote {
  font-size: 18px;
  letter-spacing: 0.6px;
}
.util .resume--btn #circle,
.util .work--btn #circle {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}
.util .resume--btn #circle svg,
.util .work--btn #circle svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation-name: rotate;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
.util .work--btn #container img {
  width: 30%;
  height: 30%;
}

@keyframes moveTo {
  0% {
    left: -200px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
/* mainVisual */
.star {
  transform-style: preserve-3d;
  width: 1px;
  height: 1px;
  position: absolute;
  color: red;
}

.star:before {
  position: absolute;
  content: "✦";
  color: inherit;
  inset: 0;
  text-shadow: 0 0 0.8em rgba(255, 255, 255, 0.3333333333);
}

/* ------- */
.main__visual {
  position: relative;
  font-family: "Stint Ultra Expanded";
  align-items: center;
}
.main__visual .inner div {
  display: flex;
  flex-direction: column;
  position: relative;
}
.main__visual .inner div figure {
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  height: 230px;
}
.main__visual .inner div figure img {
  width: 100%;
  height: 100%;
}
.main__visual .inner div h2 {
  position: relative;
  text-shadow: 10px 10px 10px var(--color-darkGreen);
}
.main__visual .inner div h2 strong {
  color: var(--color-white);
  display: inline-block;
  animation-name: cursor;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  display: inline-block;
  color: var(--color-yellow);
  font-style: normal;
  position: absolute;
  bottom: -130px;
  left: 0;
}
.main__visual .inner .typing-txt {
  display: none;
}
.main__visual .inner p {
  font-size: 3rem;
  color: var(--color-white);
  line-height: 1.3;
  margin-top: 20rem;
}

/* main__visual end */
@keyframes cursor {
  0% {
    border-right: 1px solid #ffffff;
  }
  50% {
    border-right: 1px solid #000;
  }
  100% {
    border-right: 1px solid #fff;
  }
} /* mainvisual typing */
/* skills */
.skill {
  color: var(--color-white);
}
.skill h3 {
  padding-bottom: 13.5rem;
}
.skill .skill__des p {
  text-align: center;
  font-size: 28px;
  display: none;
  margin-bottom: 13.5rem;
  line-height: 1.3;
  font-family: var(--font-kr);
}
.skill .skill__des p.on {
  display: block;
}
.skill .skill__des--icon {
  display: flex;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  position: relative;
  padding-top: 60px;
}
.skill .skill__des--icon li {
  cursor: pointer;
}
.skill .skill__des--icon li img {
  width: 80px;
  height: 80px;
}
.skill .skill__des--icon::before {
  content: "아이콘을 클릭해 보세요!";
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  font-size: 20px;
  font-family: var(--font-kr);
}

/* skill end */
.about {
  position: relative;
  color: var(--color-white);
  /* .list end */
}
.about .list {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 222;
  position: relative;
}
.about .list .item {
  margin-bottom: 3rem;
}
.about .list .item h4 {
  color: var(--color-yellow);
  font-size: 3rem;
  margin-bottom: 3rem;
  line-height: 25px;
}
.about .list .item h4::after {
  content: "";
  width: 30px;
  height: 25px;
  margin-left: 10px;
  display: inline-block;
  background: url("../img/star.png") center center/100% no-repeat;
}
.about .list .item ul li {
  font-size: 20px;
  margin-bottom: 2rem;
}
.about .list .item ul li span {
  margin-right: 20px;
}
.about .list__about {
  width: 100%;
}
.about .list__edu {
  width: 100%;
}
.about .list__certificate {
  line-height: 1.3;
}
.about .list__interest ul {
  display: flex;
  gap: 15px;
}
.about .list__interest ul li {
  line-height: 20px;
}
.about .list__interest ul li::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/heart-icon.png) center/100% no-repeat;
  margin-left: 5px;
}
.about .list__interest ul li:last-child::after {
  display: none;
}
.about h1.ml8 {
  font-weight: 100;
  font-size: 4.5em;
  color: #fff;
  width: 3em;
  height: 3em;
  position: absolute;
  top: 20%;
  left: 55%;
}
.about .ml8 .letters-container {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 1em;
}
.about .ml8 .circle {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  bottom: 0;
}
.about .ml8 .circle-white {
  width: 30rem;
  height: 30rem;
  border: 2px dashed white;
  border-radius: 50%;
}
.about .ml8 .circle-dark {
  width: 50rem;
  height: 50rem;
  background-color: var(--color-yellow);
  border-radius: 50%;
  z-index: 1;
}
.about .ml8 .circle-dark-dashed {
  border-radius: 50%;
  background-color: transparent;
  border: 2px dashed var(--color-lightGreen);
  width: 50rem;
  height: 50rem;
}
.about figure {
  order: 0;
  /* width: 264px; */
  width: 56.33%;
  height: 500px;
  margin-left: 150px;
  margin-top: 50px;
  /* background-color: var(--color-beige); */
}
.about figure img {
  width: 100%;
  height: 100%;
}

/* .about end */
/* work */
.work {
  color: #fff;
  padding-top: 0;
}
.work .inner {
  background-color: rgba(121, 121, 121, 0.1764705882);
  z-index: 111;
  border-radius: 10px;
  padding: 135px 0;
  box-shadow: 10px 20px 20px 10px rgba(51, 51, 51, 0.568627451);
  /* .list end */
}
.work .inner h3 {
  font-weight: bold;
  margin-bottom: 13.5rem;
}
.work .inner .list .item {
  margin-bottom: 15rem;
}
.work .inner .list .item h4 {
  margin-left: 109px;
  font-size: 3rem;
  text-shadow: #000 10px 10px 10px 10px;
}
.work .inner .list .item h4 span {
  margin-right: 60px;
}
.work .inner .list .item__visual {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  /* .mock-up end */
}
.work .inner .list .item__visual .mock-up {
  width: 50%;
  position: relative;
}
.work .inner .list .item__visual .mock-up figure {
  position: relative;
}
.work .inner .list .item__visual .mock-up figure:nth-child(2) {
  position: absolute;
  top: 50%;
  left: -10%;
  width: 478px;
  height: 334px;
}
.work .inner .list .item__visual .mock-up figure:nth-child(2) img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.work .inner .list .item__visual--btn {
  margin-left: 100px;
}
.work .inner .list .item__visual--btn p {
  font-size: 16px;
  margin-bottom: 50px;
}
.work .inner .list .item__visual--btn button {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  font-size: 18px;
  display: block;
  margin-top: 10px;
  font-weight: bold;
  background-color: var(--color-yellow);
}
.work .inner .list .item__visual--btn button:nth-child(3) {
  background-color: var(--color-beige);
}
.work .inner .list .item__info {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  border-radius: 20px;
  margin: 0 auto;
  width: 60%;
}
.work .inner .list .item__info > div {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.work .inner .list .item__info h5 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.work .inner .list .item__info p {
  font-size: 16px;
}
.work .inner .list .item__info__tool ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.work .inner .list .item__info__tool ul li {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  background-color: var(--color-darkGreen);
}
.work .inner .design h4 {
  margin-left: 109px;
  font-size: 3rem;
  font-family: var(--font-en-title);
}
.work .inner .design > ul {
  display: flex;
  gap: 5px;
  margin: 52px 109px;
  position: relative;
}
.work .inner .design > ul::after {
  content: "";
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background-color: var(--color-yellow);
  position: absolute;
  bottom: 0;
  left: 0;
}
.work .inner .design > ul li button {
  background-color: var(--color-yellow);
  border-radius: 10px;
  width: 156px;
  height: 47px;
  font-size: 18px;
  font-weight: bold;
}
.work .inner .design .list {
  display: none;
  justify-content: center;
  margin: 0 109px;
  gap: 12px;
}
.work .inner .design .list.on {
  display: flex;
}
.work .inner .design .list ul {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
.work .inner .design .list ul li {
  width: 100%;
}
.work .inner .design .list ul li img {
  /* width: 41.38%; */
  width: 100%;
}
.work .inner .design .list:last-child {
  justify-content: space-between;
}
.work .inner .design .list:last-child ul {
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
}
.work .inner .design .list:last-child ul li {
  overflow: hidden;
  height: 700px;
  width: calc(33.3333333333% - 24px);
}
.work .inner .design .list:last-child ul li figure {
  height: 100%;
}
.work .inner .design .list:last-child ul li figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */