@charset 'utf-8';
@import url("reset.css");
@import url("common.css");
@import url("common.scss");

@font-face {
    font-family: "Stint Ultra Expanded";
    src: url("font/StintUltraExpanded-Regular.eot");
    src: url("font/StintUltraExpanded-Regular.eot?#iefix")
            format("embedded-opentype"),
        url("font/StintUltraExpanded-Regular.woff2") format("woff2"),
        url("font/StintUltraExpanded-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Sans 3";
    src: url("font/SourceSans3-Bold.eot");
    src: url("font/SourceSans3-Bold.eot?#iefix") format("embedded-opentype"),
        url("font/SourceSans3-Bold.woff2") format("woff2"),
        url("font/SourceSans3-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Sans 3";
    src: url("font/SourceSans3-Regular.eot");
    src: url("font/SourceSans3-Regular.eot?#iefix") format("embedded-opentype"),
        url("font/SourceSans3-Regular.woff2") format("woff2"),
        url("font/SourceSans3-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Sans 3";
    src: url("font/SourceSans3-Black.eot");
    src: url("font/SourceSans3-Black.eot?#iefix") format("embedded-opentype"),
        url("font/SourceSans3-Black.woff2") format("woff2"),
        url("font/SourceSans3-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Sans 3";
    src: url("font/SourceSans3-Medium.eot");
    src: url("font/SourceSans3-Medium.eot?#iefix") format("embedded-opentype"),
        url("font/SourceSans3-Medium.woff2") format("woff2"),
        url("font/SourceSans3-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "pretendard";
    src: url("font/Pretendard-Regular.eot");
    src: url("font/Pretendard-Regular.eot?#iefix") format("embedded-opentype"),
        url("font/Pretendard-Regular.woff2") format("woff2"),
        url("font/Pretendard-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-kr: ;
    --font-en: ;
    --title-size: 20rem;
    --color-beige: #f6edd9;
    --color-yellow: #ffde82;
    --color-white: #fff;
    --color-darkGreen: #3c4a3e;
    --color-lightGreen: #d6fadc;
}
h2 {
    color: var(--color-white);
}
/* .header {
    position: relative;
    
} */ /* .header end */
.inner {
    width: calc(100% - 40px);
    margin: 0 auto;
    max-width: 1440px;
}

/* header */
.header {
    position: relative;
    .menu__pc {
        position: absolute;
        z-index: 9999;
        top: 5rem;
        right: 50px;
        transform: translateY(100%);
        .gnb {
            li {
                text-align: end;
                font-size: 18px;
                height: 50px;
                line-height: 50px;
                color: var(--color-white);
                a {
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    padding: 0 10px;

                    &::after {
                        content: "";
                        width: 20px;
                        height: 20px;
                        display: inline-block;
                        background: url("../img/nav-btn.png") center / 100%
                            no-repeat;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}
.main__visual {
    height: 100vh;
    position: relative;
    display: flex;
    font-family: "Stint Ultra Expanded";
    background: url("../img/mainvisual-bg.png") center / cover no-repeat;
    .util {
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        gap: 120px;
        z-index: 888;
        button {
            transform: rotate(-90deg);
            background-color: var(--color-darkGreen);
            color: #fff;
            padding: 20px 30px;
            font-family: "pretendard";
            font-size: 14px;
        }
        .language--btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .inner {
        height: 100%;
        figure {
            position: absolute;
            right: 20%;
            transform: translateY(15%);
            top: 100px;
            width: 390px;
            height: 440px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        div {
            padding: 300px 0;
            h2 {
                font-size: 15rem;
                p {
                    line-height: 1.3;
                    
                    color: var(--color-white);
                    display: inline-block;
                    animation-name: cursor;
                    animation-duration: 0.3s;
                    animation-iteration-count: infinite;
                    display: inline-block;
                    color: var(--color-yellow);
                    font-size: 15rem;
                }
            }
        }
        .typing-txt {
            display: none;
        }
        p{
            font-size: 4.5rem;
            color: var(--color-white);
            line-height: 1.3;
            margin-top: 4rem;
        }
    }
}

@keyframes cursor {
    0% {
        border-right: 1px solid #fff;
    }
    50% {
        border-right: 1px solid #000;
    }
    100% {
        border-right: 1px solid #fff;
    }
}
